/* src/components/HeroSection.css */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
}

.hero-text {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    margin-top: 100px;
    /* Optional margin if needed */
    white-space: nowrap;
}

.icon {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

svg {
    width: 50px;
    height: 50px;
}